---
layout: default
---

<div class='mod modFullscreenSlider'>
  <div class='fullscreen_slideshow' data-autostop='off'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class="sequence-canvas">
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame centered-text {{style}}'>
          <h1>{{slide.title}}</h1>
          <p>{{slide.tagline}}</p>
          <div class='two spacing'></div>
          <div class='buttons-wrapper'>
            {% for button in slide.buttons %}
              <a class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
            {% endfor %}
          </div>
          {% if slide.videos %}
            <div class='video_image_touch' style='background-image: url({{slide.bg}});'></div>
            <div class='video_wrap'>
              <div class='overlay' style='background: #000000;opacity: 0.6;'></div>
              <video autoplay=' ' class='bg_video' loop=' ' muted=' ' preload='auto'>
                {% for video in slide.videos %}
                  <source src='{{video.url}}' type='video/{{video.type}}'>
                {% endfor %}
              </video>
            </div>
          {% else %}
            <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-10 columns large-centered'>
      <div class='spacing'></div>
      {% include section-header.html class="alt" title="About Us" %}
      <div class='spacing'></div>
      <p class='centered-text' style='font-size: 1.6rem'>
        {{ page.intro }}
      </p>
      <div class='two spacing'></div>
      <p class='centered-text'>
        <img alt="" src="../images/@stock/circle-logo.png" />
      </p>
    </div>
  </div>
</div>
<div class='three spacing'></div>
<div class='full parallax' style='background-image: url(https://images.unsplash.com/photo-1486325212027-8081e485255e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="the achievements" class="alt" title_style="color: #fff;" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-3 large-3 columns'>
      {% include milestone.html title="College Admissions Done" from="0" to="69" icon_class="fa fa-graduation-cap" %}
    </div>
    <div class='medium-3 large-3 columns'>
      {% include milestone.html title="Students Helped" from="0" to="726" icon_class="fa fa-thumbs-up" %}
    </div>
    <div class='medium-3 large-3 columns'>
      {% include milestone.html title="Jobs Provided" from="0" to="59" icon_class="fa fa-briefcase" %}
    </div>
    <div class='medium-3 large-3 columns'>
      {% include milestone.html title="Helped Students Find Housing" from="0" to="21" icon_class="fa fa-home" %}
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<a id='services'></a>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" class="alt" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
            {% for service in page.services %}
            <div class='box' style=''>
              <i class='fa fa-{{ service.icon }}'></i>
              <h4>{{ service.title }}</h4>
              <p>{{ service.description }}</p>
            </div>
            {% endfor %}

        {% comment %}

          {% include box.html class="fa fa-trophy" title="Design" text="Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis." %}
          {% include box.html class="fa fa-compass" title="Art direction" text="Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis." %}
          {% include box.html class="fa fa-star-half-empty" title="Branding" text="Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis." %}
          {% include box.html class="fa fa-image" title="Photography" text="Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis." %}
          {% include box.html class="fa fa-dot-circle-o" title="Marketing" text="Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis." %}

        {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full parallax' style='background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://images.unsplash.com/photo-1446846365537-255ea07833ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1385&q=80); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html class="alt" title_style="color: #fff;" title="What we are good at" %}
      <div class='spacing'></div>
      <p style='color: #ccc;'>
        Dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-5 columns'>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          <li>
            {% include bar-graph.html style="color: #fff;" title="Web Design" percents="84" %}
          </li>
          <li>
            {% include bar-graph.html style="color: #fff;" title="Web Development" percents="99" %}
          </li>
        </ul>
      </div>
    </div>
    <div class='large-6 columns'>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          <li>
            {% include bar-graph.html style="color: #fff;" title="Branding" percents="90" %}
          </li>
          <li>
            {% include bar-graph.html style="color: #fff;" title="Marketing" percents="66" %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<a id='work'></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="our works" class="alt" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
      <div class='mod modGallery'>
        <div class='gallery-nav'>
          <ul>
            <li class='current'>
              <a data-cat='all' href='#'>All</a>
            </li>
            <li>
              <a data-cat='graphic-design' href='#'>Graphic Design</a>
            </li>
            <li>
              <a data-cat='web-design' href='#'>Web Design</a>
            </li>
            <li>
              <a data-cat='brand' href='#'>Brand</a>
            </li>
            <li>
              <a data-cat='development' href='#'>Development</a>
            </li>
            <li>
              <a data-cat='print' href='#'>Print</a>
            </li>
          </ul>
        </div>
        <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
          {% for work in page.works %}
            <li class='{{work.class}}'>
              <a href='{{work.link_to}}'>
                <img width="600" height="500" alt="" src="{{work.image}}" />
                <div class='overlay' style='background: rgba(143, 221, 115, 0.8);'>
                  <div class='thumb-info'>
                    <h3>{{work.title}}</h3>
                    <p>{{work.desc}}</p>
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='#'>View more works</a>
      </p>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full parallax' style='background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://images.unsplash.com/photo-1490623970972-ae8bb3da443e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" title_style="color: #fff;" class="alt" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{testimonial.quote}}</p>
                  <p class='author'>{{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class='full no-padding' style='background: #F9CE06; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div> -->
<a id='team'></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html class="alt" title="Team members" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in page.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" width="250" height="250" alt="" src="{{member.avatar}}" />
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='fa fa-{{social.icon}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='three spacing'></div>
</div>
<div class='full parallax' style='background-image: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url(https://images.unsplash.com/photo-1516809391665-6e6fb6c153f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html class="alt" title_style="color: #fff;" title="Our customers" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img width="272" height="180" alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<a id='pricing'></a>

<!-- <div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html class="alt" title="Pricing table" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    {% for box in page.price_boxes %}
      <div class='medium-6 large-3 columns'>
        <div class='mod modPriceBox {{box.class}}'>
          <div class='info'>
            <p class='level'>{{box.type}}</p>
            <p class='desc'>{{box.desc}}</p>
            <p class='price'>
              <span class='dollar'>$</span>
              <span class='number'>{{box.cost}}</span>
            </p>
          </div>
          <div class='features'>
            <ul>
              {% for line in box.lines %}
                <li class="{% cycle '', 'even' %}">{{line}}</li>
              {% endfor %}
            </ul>
          </div>
          <p class='start'>
            <a class='button small' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Start Trial</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div> -->
<div class='full parallax' style='background-image: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url(https://images.unsplash.com/photo-1516809391665-6e6fb6c153f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" class="alt" title_style="color: #fff;" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}
      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          <a href="{{post.url}}"><img alt="" src="{{site.url}}/{{post.image}}" /></a>
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <div class='tags'>
              {% for tag in post.tags %}
                <a href="#">{{tag | capitalize}}</a>
                {% unless forloop.last %},{% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button boxed' href='{{site.url}}/blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<a id='contact'></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Contact us" class="alt" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-8 columns'>
      <div class='form'>
        <div class='row'>
          <form id='contact_form' method='POST'>
            <div class='large-12 columns'>
              <p id='thanks' style='display: none;'>
                Thanks for contacting us, we'll be in touch soon!
              </p>
            </div>
            <div class='medium-12 columns'>
              <input class='required' name='name' placeholder='NAME' type='text'>
              <input class='required email' name='email' placeholder='EMAIL' type='text'>
              <input class='required' name='subject' placeholder='SUBJECT' type='text'>
              <textarea class='required' name='message' placeholder='MESSAGE'></textarea>
              <input class='button white' type='submit'>
            </div>
          </form>
        </div>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-4 columns'>
      <div class='contact-details'>
        <h4>Our location:</h4>
        <p>67 Kevi Crescent, Richmond Hill, Ontario L4B3C9</p>
        <h4>Our Phone:</h4>
        <p>+1-647-2000-500</p>
        <h4>Our Email:</h4>
        <p><a href="mailto:studenthelpcanada@gmail.com">studenthelpcanada@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<div class='full parallax' style='background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://images.unsplash.com/photo-1517090504586-fde19ea6066f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html class="alt" title="Find us elsewhere" title_style="color: #fff;" %}
      <div class='two spacing'></div>
    </div>
    {% for social in page.socials %}
      <div class='medium-3 columns'>
        <div class='big-social'>
          <a href='{{social.link_to}}'>
            <i class='{{social.icon_class}}'></i>
          </a>
          <h4 style='color: #fff'>{{social.title}}</h4>
          <p>{{social.text}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
  <div class='two spacing'></div>
</div>
<div class='full no-padding' style='background: #111'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p>©2014 {{site.title}}. All rights reserved.</p>
    </div>
  </div>
  <div class='spacing'></div>
</div>
